<div class="jumbotron">
	<h2>Pages#home</h2>
<p>sign up <%= link_to "here", "#", class: "btn btn-default btn-lg" %></p>
</div>

<div class="row heho center">
	  <div class="col-xs-12 col-sm-4">Instagram</div>
	  <div class="col-xs-12 col-sm-4">Twitter</div>
	  <div class="col-xs-12 col-sm-4">Facebook</div>
	  <div class="hidden-xs col-sm-4">Programmation</div>
	  <div class="col-xs-12 col-sm-4">Sign Up</div>
	  <div class="hidden-xs col-sm-4">Useful Info</div>
</div>
